.canvas {
  position: relative;
  border: 2px solid rgb(102, 102, 102);
  height: 50%;
  width: 50%;
  background-color: rgba(141, 141, 141, 0.637);
}
.canvas-container {
  height: 100%;
  width: 100%;
  position: fixed;
}
.canvas-frame {
  height: 200%;
  width: 200%;
  top: -100;
}
.reset-button {
  position: absolute;
  top: 0;
  left: 0;
}
